<h1>New multiplication</h1>

<body>
  <form action="/wizard_multiply">
    <label for="form_first_number">Multiply this:</label>
    <input id="form_first_number" name=user_first>

    <label for="form_second_number">by this:</label>
    <input id="form_second_number" name=user_second>

    <button>
      Multiply!
    </button>
  </form>
</body>
