<h1>New subtraction</h1>

<body>
  <form action="/wizard_subtract">
    <label for="form_first_number">Subtract this:</label>
    <input id="form_first_number" name=user_first>

    <label for="form_second_number">from this:</label>
    <input id="form_second_number" name=user_second>

    <button>
      Subtract!
    </button>
  </form>
</body>
